body {
    background-color: black;
    text-align: center;
}
#pongCanvas {
    background-color: black;
    border: solid #00FF00;
    top: 6.25%;
/*
    width: 75%;
    width: 75%;
*/
}
h1 {
    color: #00FF00;
    font-family: sans-serif;
}
p {
    color: white;
}